<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Smart Agriculture</title>
    <link rel= "stylesheet" type= "text/css" href= "static/style1.css">
	
</head>
<body>
		

<section>
   
<div class="context">
        <h1>Smart Agriculture</h1>
		
				
	        
    </div>



<div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >

</section>
                <br></br>
				<br></br>
<div class="circle">            
</div>
<br></br>
<div class="circle1">          
</div>
<div class="circle2">               
</div>
<br></br>
<div class="circle3">               
</div>
<div class="circle4">               
</div>

<div class="about">

        <h5>About:</h5>
		<p>This project aims to assist farmers in many ways like monitoring soil quality,plant growth,finding next day of irrigation and detecting plant diseases.</p>
		<br></br>
		<p>Giving appropriate inputs helps us to predict soil moisture level,level of nutrients in soil and growth of plants.You can also monitor irrigation of your field.Feeding images of plants tells you whether plants are infected or not.</p>
<div class="form">
                <form method = "POST" action = "{{ url_for('opt')}}">

					<br></br>

					<label></label>
					<input id="explore" type="submit" value="Explore" />
				</form>
				
				<br></br>
				<br></br>
				<br></br>
				<div>
	</body>
</html>