<!DOCTYPE html>
<html lang="en">
<head>
  
    <title>Smart Agriculture</title>
    <link rel= "stylesheet" type= "text/css" href= "static/style2.css">
	
</head>
<body>
                <br></br>
				<br></br>
<div class="circle">            
</div>
<br></br>
<div class="circle1">          
</div>
<div class="circle2">               
</div>
<br></br>
<div class="circle3">               
</div>
<div class="circle4">               
</div>

<div class="soilq">

        <h6>Soil quality:</h6>
		<p>This project aims to assist farmers in monitoring soil quality</p>
		<p>Giving appropriate inputs like N,P,K values of soil helps us to predict soil quality. </p>
<div class="form">
                <form method = "POST" action = "{{ url_for('soilq')}}">

					<br></br>

					<label></label>
					<input id="explore1" type="submit" value="Explore" />
				</form>
				
				<br></br>
				<br></br>
				<br></br>
				<div>
				
<!--<div class="waterq">

        <h6>Water quality:</h6>
		<p>This project aims to assist farmers in many ways like monitoring water quality.</p>
		<p>Giving appropriate inputs like turbidity,TDS ,salinity helps us to predict water quality</p>
<div class="form">
                <form method = "POST" action = "{{ url_for('waterq')}}">

					<br></br>

					<label></label>
					<input id="explore2" type="submit" value="Explore" />
				</form>
				
				<br></br>
				<br></br>
				<br></br>
				<div>-->
				
<div class="circle">            
</div>
<br></br>
<div class="circle1">          
</div>
<div class="circle2">               
</div>
<br></br>
<div class="circle3">               
</div>
<div class="circle4">               
</div>
<div class="irrig">

        <h6>Irrigation:</h6>
		<p>This project aims to assist farmers in monitoring irrigation..</p>
		<p>Giving appropriate inputs like soil and air moisture,temperature helps us to predict dryness of soil,next water cycle and predictions to turn on or off pump.</p>
<div class="form">
                <form method = "POST" action = "{{ url_for('irrig')}}">

					<br></br>

					<label></label>
					<input id="explore3" type="submit" value="Explore" />
				</form>
				
				<br></br>
				<br></br>
				<br></br>
				<div>
<br></br>
<div class="circle">            
</div>
<br></br>
<div class="circle1">          
</div>
<div class="circle2">               
</div>
<br></br>
<div class="circle3">               
</div>
<div class="circle4">               
</div>

				
<div class="cropg">

        <h6>Weed Detection:</h6>
		<p>Feeding images of plants tells you whether it is weed or healthy crop.</p>
<div class="form">
                <form method = "POST" action = "{{ url_for('cropw')}}">

					<br></br>

					<label></label>
					<input id="explore4" type="submit" value="Explore" />
				</form>
				
				<br></br>
				<br></br>
				<br></br>
				<div>

<div class="circle2">               
</div>
<br></br>
<div class="circle3">               
</div>
<div class="circle4">               
</div>
<br></br>
<br></br>
<br></br>				
<div class="croph">

        <h6>Crop health:</h6>
		<p>This project aims to assist farmers in detecting plant diseases.</p>
		<p>Feeding images of plants tells you whether plants are infected or not.</p>
<div class="form">
                <form method = "POST" action = "{{ url_for('croph')}}">

					<br></br>

					<label></label>
					<input id="explore5" type="submit" value="Explore" />
				</form>
				
				<br></br>
				<br></br>
				<br></br>
				<div>
	</body>
</html>
